@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,600");

html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
}

a {
		text-decoration: none;
		color: inherit;
		outline: 0;
	}

body {
  background: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 19pt;
  font-weight: 300;
  line-height: 1.75em;
  color: #888;

  $nav-bar-width: 320px;
  display: grid;
  grid-template-columns: [nav-bar] $nav-bar-width [main-content] auto;
  position: relative;

  h2 {
    font-weight: 300;
		color: #666;
		line-height: 1.5em;
  }

  #nav-bar {
    grid-column: nav-bar;
    background-color: #222629;
    text-align: right;
    position: fixed;
    width: $nav-bar-width;
    height: 100%;
    display: flex;
    flex-direction: column;

    ul {
      list-style: none;
    }

    a:hover {
      color: red;
    }

    #top {
      margin: 1.75em 1.5em 1.5em 1.5em;
      flex-grow: 1;

      #name-info {
        position: relative;
        margin-bottom: 1.5em;
        min-height: 48px;
        cursor: default;
        
        h1 {
          position: relative;
          color: #fff;
          font-weight: 600;
          font-size: 1em;
          line-height: 1em;
        }

        p {
          position: relative;
          display: block;
          font-size: 0.6em;
          color: rgba(255, 255, 255, 0.5);
          line-height: 1.25em;
          margin: 0.5em 0 0 0;
        }

        img {
          position: absolute;
          left: 0;
          top: 0;
        }
      }

      #nav ul li a span {
        padding-top: 12px;
        padding-bottom: 12px;
        font-size: 0.8em;
        display: flex;
        justify-content: space-between;
        align-items: center;

        svg {
          vertical-align: middle;
        }
      }
    }

    #bottom {
      flex-shrink: 0;
      margin: 0 auto;

      ul {
        margin-bottom: 30px;

        li {
          display: inline-block;
          padding-left: 15px;
          padding-right: 15px;
        }
      }
      
      
    }
  }

  #main {
    grid-column: main-content;
    height: 10000px;
  }
}
